*.png
*.jpg
*.wepb
*.log
*.cu
*.h
*.txt
*.csv
/background
/build
/file
/img
/ttest
/falldown
/temp_falldown
/jetsonutil
*.so
*.xlsx
/__pycache__
*.pyc
*.zip
*.csv
*.trt
*.engine
*.pt
/tensorrtx
/tensorrt-python
