*.png
*.jpg
*.wepb
*.log
*.cu
*.h
*.txt
*.csv
*.json
/background
/build
/factoryreset
/file
/img
/json
/ttest
/falldown
/temp_falldown
/jetsonutil
/output
*.so
*.xlsx
/__pycache__
*.pyc
*.zip
*.csv
*.trt
*.engine
*.pt